@import "tailwindcss";

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@utility animate-slide {
  animation: slide 1.5s ease-in-out infinite;
}
